@charset "UTF-8";
/* em HTML é id = em CSS é # (só pode um elemento por página)*/
/* em HTML é class = em CSS é . pode vários elementos */
body{
    background-color:#69F74D;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:#2E6B21;
    
}
h1#principal{
    text-align: center;
    background-color:#49AD36;
    color: white;
   
}
h2{
    color: #2E6B21;
}
.basico{
    color: #2E6B21;
    font-weight: bold;

}
.intermediario{
    color: #6a6b21;
}
.avancado{
    color: #6b2121;
}
.destaque{
    background-color: rgba(247, 247, 19, 0.726);
}